p {
  color: $gray-600;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}


.about-us-image {
  @media (min-width: 768px) {
    max-width: 45%;
  }
}
  .farm-introduce {
    padding-top: 100px;

    .farm-introduce-item {
      text-align: center;
      font-size: 1.5rem;
      color: $dark;
      font-weight: 600;

      img {
        margin-bottom: 20px;

      }
    }

  }
.about-us-text{
	max-width: 80%;

  @media (min-width: 768px) {
    max-width: 45%;
  }
  h3{
    font-size: 2.25rem;
    position: relative;
  }
  h3:before{
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: -10px;
  }
  p {
    font-size: 1rem;
  }
  .en-title{
    color: #a9a7a5;
  }
}
.about-us-area {
    background-color: #332920;
  }
.promise{
  background: url(./assets/image/bg-img/BG-3.jpg) 50% no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  &-top{
    background: rgba(100,100,100,.35);
      margin: 0 auto;
      font-family: Arial;
      font-weight: 700;
      width: 100%;
      height: 100%;
      max-height: 190px;
      padding: 40px 0;
      
      h4{
        font-size: 40px;
        text-shadow: 1px 1px rgb(0 0 0 / 30%), 2px 2px rgb(0 0 0 / 30%), 3px 3px rgb(0 0 0 / 30%), 4px 4px rgb(0 0 0 / 30%), 5px 5px rgb(0 0 0 / 30%), 6px 6px rgb(0 0 0 / 30%);
        font-weight: 700;
      }
      
      span{
        padding: 3px 25px;
        border-radius: 24px;
        font-size: 1rem;
      }
  }
}
.promise-content{
  background: hsla(0,0%,100%,.9);

  .promise-content-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
    img{
      width: 40px;
      @media (min-width: 768px) {
        width: 50px;
      }
    }
  }
  li{
    max-width: 30%;
  }
}
.promise-content-title{
  font-weight: 600;
  font-size: 1.75rem;
}

  .email-section {
    background: url(./assets/image/bg-img/footer-img.jpg) 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 266px;
    width: 100%;

    @media (min-width: 768px) {
      .farm-idea .bg-img {
        height: 422px;
      }
    }

    .email-title {
      font-size: 28px;
      line-height: 40px;
    }

    .email-content {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      background: hsla(0, 0%, 100%, .6);
      padding: 30px;
      font-weight: 700;
    }

    input {
      flex: 1 auto;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border: 1px solid black;
    }

    button {
      padding: 12px;
      flex: 0 auto;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }